.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    padding: 0 0;
    border-radius: 0;
    background: yellowgreen;
}

.dropdown-menu a:hover {
    background: red;
}

.navbar-light .navbar-nav .home {
    color: #fcda9a;
}

.circle {
    color: black;
    /* color: transparent; */
}

.navbar-light .navbar-nav .nav-link:hover {
    /* color: #fcda9a; */
    color: red;
}

.navbar-light .navbar-nav .nav-link:hover .circle {
    color: red;
}

.dropdown-submenu {
    left: 165px;
    top: -3px;
}

.fa-circle {
    font-size: 6px;
    position: absolute;
    top: 17px;
    left: -3px;
}


/* .dropdown-ex {
    padding: 0 0;
} */


/* .dropdown-example .dropdown-menu {
    display: block;
    left: 150px;
    display: none;
    /* float: left;
}*/


/* .dropdown-example :hover */


/* .a {
    list-style: none;
} */


/* .dropdown-submenu {
    display: block;
} */


/* .nav-item .list {
    list-style: none;
    /*mất dấu chấm trước list
    text-decoration: none;
    /*mất dấu gạch chân dưới từ liên kết
    position: absolute;
    /*cho phần menu nổi lên
    top: 80px;
} */


/* 
.list a {
    padding: 15px 40px 15px 25px;
    float: left;
    line-height: 1.5em;
    position: relative;
    width: 200px;
    text-align: left;
    background: #252525;
}

.list .homepage a {
    color: #fcda9a;
} 
*/