/* Cố định thanh nav trên bg ngoài header */

#header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.row {
    padding-right: 0;
    padding-left: 0;
}

.header-inner {
    padding-top: 20px;
}


/* Thay đổi độ lớn của logo */

.setlogo {
    max-width: 100px;
}


/* Cố định header khi lăn chuột */

header .fixed {
    width: 100%;
    left: 0;
}


/* Chỉnh sửa màu chữ nav */

.navbar-light .navbar-nav .nav-link {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    margin: 0 4px;
    color: white;
}


/* hover nav */

.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #fcda9a;
    background: #333;
}


/* Chỉnh màu home */

.navbar-light .navbar-nav .home {
    color: #fcda9a;
}


/* hover chữ */

.navbar-light .navbar-nav .nav-link:hover {
    color: #fcda9a;
}


/* Cho menu xuong dong và tự sổ xuống khi hover */

.dropdown:hover>.dropdown-menu {
    display: block;
}


/* Chỉnh sửa khung menu và các style menu-item*/

.dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 250px;
    border-radius: 0;
    background: #2c2c2c;
}

.dropdown-item {
    padding: 10px 15px 10px 25px;
}

.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #848484;
}

.navbar-light .navbar-nav .nav-link:hover .circle {
    color: #fcda9a;
}

.fa-circle {
    font-size: 6px;
    position: relative;
    display: inline;
    top: -3px;
    left: -4px;
    transition: all 0.5s;
}

.circle {
    color: transparent;
}

.border-text {
    border-bottom: 1px solid #3c3c3c;
}

.dropdown-submenu {
    left: 249px;
    top: -1px;
}

.fa-caret-right {
    position: relative;
    left: 50px;
    top: 1.5px;
}

#dropdown-ex>.nav-link {
    min-width: 250px;
    padding: 11px 15px 11px 25px;
    margin: 0;
}


/* Chỉnh nút mục lục */

.navbar-light .navbar-toggler {
    background: #252525;
    color: #dedede;
    padding-right: 100px;
}


/* Chỉnh sửa ảnh nền  */

.slide-bg {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    /* opacity: 1; */
    text-align: center;
}

.slide-img-bg {
    height: 759px;
    width: 1349.33px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
}


/* Set nội dung trong bg */

.animation-img {
    max-width: 1950px;
    height: 905px;
    /* z-index: 1; */
}

.animation-img .text {
    position: absolute;
}

.text1 {
    color: #fcda9a;
    top: 235px;
    left: 615px;
    margin: 0px 0px 15px;
    padding: 0px;
    font-size: 50px;
    font-family: "Montez", cursive;
}

.text2 {
    top: 290px;
    left: 505px;
    font-family: "Suranna", serif;
    color: #fff;
    margin: 0px 0px 15px;
    padding: 0px;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 78px;
}

.divider {
    position: absolute;
    top: 380px;
    left: 660px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    line-height: 23px;
}

.divider .hr-double.left::before {
    position: absolute;
    content: "";
    width: 7.5em;
    height: 1.2px;
    right: 80px;
    top: 20px;
    background: #fcda9a;
}

.divider .hr-double.left:after {
    position: absolute;
    content: "";
    width: 9em;
    height: 1.2px;
    right: 58px;
    top: 23px;
    background: #fcda9a;
}

.divider .hr-double.right::before {
    position: absolute;
    content: "";
    width: 7.5em;
    height: 1.2px;
    left: 80px;
    top: 20px;
    background: #fcda9a;
}

.divider .hr-double.right:after {
    position: absolute;
    content: "";
    width: 9em;
    height: 1.2px;
    left: 58px;
    top: 23px;
    background: #fcda9a;
}

.divider-ic {
    width: 45px;
    height: 45px;
}

.text3 {
    font-family: "Montserrat", Arial, sans-serif;
    color: #fff;
    top: 450px;
    left: 600px;
    margin: 0px;
    padding: 0px 0px 2.10938px;
    font-size: 17px;
    line-height: 3.51563px;
}

.text4 {
    color: #fff;
    top: 465px;
    left: 575px;
    font-size: 13px;
    line-height: 30px;
}

.text4 span {
    color: #acb8c4;
}

.text5 {
    color: #fff;
    top: 480px;
    left: 595px;
    padding: 0px 0px 11px;
    font-size: 13px;
    line-height: 50px;
}

.text5 span {
    color: #acb8c4;
}

.img-slide1-1 {
    left: 0px;
    top: 65px;
    width: 350px;
    height: 650px;
}

.img-slide1-2 {
    left: 215px;
    top: 170px;
    width: 110px;
    height: 110px;
}

.img-slide1-3 {
    left: 200px;
    top: 450px;
    width: 145px;
    height: 145px;
}

.img-slide1-4 {
    left: 210px;
    top: 578px;
    width: 150px;
    height: 100px;
}

.img-slide1-5 {
    left: 200px;
    top: 660px;
    width: 100px;
    height: 100px;
}

.img-slide1-6 {
    right: 5px;
    top: 60px;
    width: 200px;
    height: 700px;
}

.img-slide1-7 {
    right: 200px;
    top: 120px;
    width: 100px;
    height: 360px;
}

.img-slide1-8 {
    right: 170px;
    top: 370px;
    width: 100px;
    height: 280px;
}

.img-slide1-9 {
    right: 190px;
    top: 95px;
    width: 170px;
    height: 270px;
}

.img-slide1-10 {
    right: 200px;
    top: 340px;
    width: 240px;
    height: 300px;
    /* z-index: 2; */
}

.img-slide1-11 {
    right: 420px;
    top: 600px;
    width: 450px;
    height: 150px;
    /* z-index: 1; */
}